<div class="button-row">
  <button mat-button color="primary" [disableRipple]="true" [matMenuTriggerFor]="productsMenu">Menu</button>
  <mat-menu #productsMenu="matMenu">
    <div mat-menu-item [routerLink]="['/products']" routerLinkActive="router-link-active" >Product List</div>
    <div mat-menu-item>Product Types</div>
  </mat-menu>

  <button class="loginButton" mat-button [disableRipple]="true" [matMenuTriggerFor]="login">login</button>
  <mat-menu #login=matMenu>

  </mat-menu>
  <button mat-button [disableRipple]="true" [matMenuTriggerFor]="logOptions">
    <mat-icon>more_vert</mat-icon>
    <mat-menu #logOptions=matMenu>
      <div mat-menu-item>Logout</div>
    </mat-menu>
  </button>
</div>
